<div class="span9">
  <fieldset>
    <div class="row-fluid">
          <div class="span5 offset6">
          <legend><h1>Edit My Profile</h1></legend>
              <%= render 'form' %>
          </div>
      </div>
  </fieldset>
</div>
