<fieldset>
    <legend><h1>My Profile</h1></legend>
</fieldset>
<hr/>
<label><strong>Name</strong></label> <span><%= @user.name %></span><br><br>
<label><strong>Email</strong></label> <span><%= @user.email %></span><br><br>

<a class="btn btn-primary" href="/users/edit">Edit</a>
