<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width:auto">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        <% if user_signed_in? == false %>
            <a class="brand" href="/"><strong>AUTH</strong> <small>comcidis</small></a>
        <% end %>
        <% if user_signed_in? %>
            <a class="brand" href="/users/me"><strong>AUTH</strong> <small>comcidis</small></a>
        <% end %>
      <div class="nav-collapse">
        <ul class="nav">
            <% if user_signed_in? %>
                <li class="active"><a href="/users/me">Profile</a></li>
             <% end %>
        </ul>
	<ul class="nav pull-right">
        <% if user_signed_in? %>
            <li><a href="/users/sign_out"><%= current_user.name %> <strong>(Sign Out)</strong> </a></li>
        <% end %>
	</ul>
      </div>
    </div>
  </div>
</div>
